---
import FooterMenu from '../components/FooterMenu.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';

---

<Layout title="Nelson Correa Portfolio">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">

		<div class="snap-center">
			<AboutMe />
		  </div>
		
	</main>

	
</Layout>

<style>
	
</style>
